*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
.zhuti{
    position: absolute;
    background-color: #f5f5f500;
    height: auto;
    width: 90%;
    margin: 15px auto 0 ;
}
h1{
    font-size: clamp(28px, 8vw, 50px);
    text-align: center;
}
body {
    background-color: #f5f5f5;
    line-height: 1.6;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}
.beijing{
    background-image: url(./preview.jpg);
    background-color: #3f3d3dd3;
    background-attachment: fixed;
    height: 3000px;
    width: 3000px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position:absolute;
    filter: blur(10px);
    z-index: -5;
}
.zhujiemian{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    background-color: #fffbfb42;
    padding: 20px 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.touxiang{
    width: 200px;
    height: 200px;
    border-radius: 80%;
    background-image: url(cadaacb1a7dfa0f16051fa90a5c59ede.jpg);
    background-size: 100%;
}
.kuang{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.192);
    margin: 50px 1px 0 0;
    border-radius: 29px;
    
}

.nei{
    float: left;;
    flex-wrap: wrap;
    max-width: 500px;
    padding: 5px 8px;
    background-color: #3f3d3dd3;
    border-radius: 25px;
    margin: 10px ;
    text-align: center;
    color: #fffbfb;
}