div {
    display: flex;
}
.htmmm {
    font-size: 100px;
}


.iiisds {
    height: 50px;
    width: 100px;
    background-color: red;
    padding: 20px;
    border: 4px solid green;
    margin: 10px 60px;
    box-shadow: 0 2px 20px;

}

.duohezi {
    width: 600px;
    height: 400px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.di1 {
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    flex: 21;
}

.di2 {
    width: 100px;
    height: 100px;
    background-color: green;
    flex: 32;
}

.di3 {
    width: 100px;
    height: 100px;
    background-color: goldenrod;
    flex: 1;
}
.is{
    width: 50px;
    height: 60px;
    border: 1px solid red;
    background-position: -15px -5px;
    background-image: url(./biaoqingbao.png);
}
.is1{
    width: 50px;
    height: 60px;
    border: 1px solid red;
    background-position: -830px -285px;
    background-image: url(./biaoqingbao.png);
}
@media screen and (max-width:500px) {
    .is {
        background-color: aqua;
    }
}

@media screen and (min-width:500px) and (max-width:1000px) {
    .is {
        background-color: rgb(16, 243, 118);
    }
}

@media screen and (min-width:1000px) {
    .is {
        background-color: rgb(211, 20, 20);
    }
}