@keyframes donhua {
    0% {
        width: 1px;
    }

    1% {
        width: 500px;
    }

    2% {
        width: 1100px;
    }

    100% {
        width: 1101px;
    }
}
@keyframes donhua2 {
    0%{
        opacity: 0.01;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
.donghua{
    width: 150px;
    height: 3px;
    position: absolute;
    background-color: rgb(245, 20, 20);
    left: 200px;
    animation: donhua 5s linear  0s infinite;
}
.donghua2{
    width: 120px;
    height: 125px;
    border-radius: 100%;
    background-color: blue;
    float: right;
    animation: donhua2 2s ease-in-out infinite alternate;
}
div:hover{
    background-color: azure;
    animation-play-state: running;
}
.san {
    width: 500px;
    height: 400px;
    background-color: aqua;
    background-repeat: no-repeat;
    background-size: 200px 300px;
    background-image: url("./R-C.jpg");
    background-position: 12px 30px;
    border-radius: 91%;
}

h1 {
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 15px;
    text-indent: 5px;

}

table,
td {
    border: 3px solid red;
}

table {
    border-collapse: collapse;
    height: 50px;
    width: 300px;

}

td {
    text-align: center;
    padding: 20px;
}

.hezi {
    width: 150px;
    height: 150px;
    background-color: blue;
    position: fixed;
    right: 2px;
    top: 275px;
}