@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1766936765688') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dingwei:before {
  content: "\e675";
}

.icon-wangzhi:before {
  content: "\e62b";
}

.icon-xueli:before {
  content: "\e673";
}

.icon-youxiang:before {
  content: "\e64c";
}

.icon-dianhua:before {
  content: "\e65f";
}

