@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1766575258404') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 50px;
  font-style: normal;
  color: red;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dizhi:before {
  content: "\e652";
}

.icon-shouye:before {
  content: "\e63c";
}

